:root {
    --cyan: #9ef0ed;
    --orange: #F6CA94;
    --yellow: #FAFABE;
    --green: #C1EBC0;
    --blue: #C7CAFF;
    --violet: #CDABEB;
    --rose: #F6C2F3;
}

ul, li, h3, p {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Ubuntu Mono", monospace;
}

.back-to-main-ref {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;

    color: grey;
    border: 1px solid grey;
    border-radius: 10px;

    margin-bottom: 20px;
}

.monday {
    background-color: var(--violet);
}

.tuesday {
    background-color: var(--yellow);
}

.wednesday {
    background-color: var(--orange);
}

.thursday {
    background-color: var(--green);
}

.friday {
    background-color: var(--blue);
}

.saturday {
    background-color: var(--rose);
}

.sunday {
    background-color: var(--cyan);
}